{
  "skipCI": false,
  "installType": "append",
  "hooks": {
    "post-commit": "npm test",
    "pre-commit": "npm test",
    "post-checkout": "rm -f ci-post-checkout && echo \"running CI post-checkout test\" && node scripts/ci-post-checkout-script"
  }
}