{
  "skipCI": false,
  "hooks": {
    "pre-commit": "npm test",
    "post-checkout": "rm -f ci-post-checkout && echo \"running CI post-checkout test\" && echo \"$HUSKY_GIT_PARAMS\" > ci-post-checkout"
  }
}